{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body bg-main2 text-light">
          <div class="w-100 h-100 row m-0 p-0" id="modal-list"></div>
        </div>
      </div>
    </div>
  </div>

<div class="jumbotron bg-main2 text-light rounded-0 m-0">
    <div class="container">
        <h1 class="display-4">Database Buku</h1>
        <hr class="my-4">
        <p>Cari buku anda di sini</p>
        <p class="lead">
        <div class="d-flex">
            <input type="text" id="book-form" class="form-control w-25 mr-1" placeholder="Judul Buku">
            <button class="btn btn-main1" id="find-btn" role="button">Cari</button>
        </div>
        </p>
    </div>
</div>

<section class="bg-main3 text-light p-3 result-section">
    <h3 class="text-center p-0 m-0" id="found-amount"></h3>
    
    <div class="d-flex flex-column align-items-center" id="book-list">

        

    </div>
</section>
{% endblock content %}
