body {
  background-color: #0077b6;
}

.bg-main1 {
  background-color: #023e8a;
}

.bg-main2 {
  background-color: #0077b6;
}

.bg-main3 {
  background-color: #0096c7;
}

.bg-main4 {
  background-color: #023e8a;
}

.btn-main1 {
  background-color: #023e8a;
  color: white;
}

.btn-main1:hover {
  background-color: #03045e;
  color: white;
}

.result-section {
  min-height: 545px;
  display: none;
}

.book-cover {
  height: 179px;
  width: 128px;
}

@media (max-width: 768px) {
  .book-info {
    margin-top: 20px;
  }
}
